.item {
    margin: 2px;
    display: inline-grid;
    align-self: auto;
    width: 14.3%;
    font-size: 0
  }
  
  .item-image {  
    width: 100%;
    opacity: .25;
    font-size: 0;
  }
  
  .collected {
    opacity: 1;
  }

  .trackerItems {
    background-color: black;
    font-size: 0;
  } 
 

  .restreamedTracker {
    width: 100%;    
    display: grid;
    background-color: black;
  }
  .tracker {
    display: grid;
    flex-wrap: wrap;
    width: 184px;    
    padding: 10px;
  }
  .trackerBorder {
    border-width: 2px;
    border-color: #736f6f;
    border-style: solid;
  }
  .trackerContainer {
    display: inline-flex;
    flex-wrap: wrap;
    width: 184px;
  }

  .allTrackers {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .instructions {
    font-size: 12px
  }

  .hidden {
    display: none
  }

  a {
    color: white
  }
