.item {
    margin: 0;
    display: inline-block;
    align-self: auto
  }
  
  .item-image {  
    height: 35px;
    width: 35px;
    opacity: .25;
  }
  
  .collected {
    opacity: 1;
  }

  .trackerItems {
    width: 206px;
    height: 165px;
    padding-top: 5px;
  }
  .tracker {
    display: grid;
  }
  .trackerBorder {
    display: inline;
    background-image: url(/background/frame.png)
  }
  .trackerContainer {
    padding: 10px;
    display: inline-flex;
    flex-wrap: wrap;
  }

  .allTrackers {
    display: flex;
    flex-wrap: wrap;
  }