.item {
    margin: 2px;
    display: inline-grid;
    align-self: auto
  }
  
  .item-image {  
    height: 32px;
    width: 32px;
    opacity: .25;
  }
  
  .collected {
    opacity: 1;
  }
/* 
  .trackerItems {

  } 
  */

  .tracker {
    display: inline-grid;
  }
  .trackerBorder {
    border-width: 2px;
    border-color: #736f6f;
    border-style: solid;
    background-color: black;
  }
  .trackerContainer {
    padding: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 184px;
  }

  .allTrackers {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .instructions {
    font-size: 12px
  }